<div class="container-fluid p-0"> 
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">{{'skills.title' | translate}}</h2>

          <div class="subheading mb-3">{{'skills.dev' | translate}}</div>
          <ul class="fa-ul mb-0">
              <li>
                <i class="fa-li fa fa-check"></i>
                Spring, Spring MVC, Spring Test, Spring Security, Spring Data, Spring Boot, JSF, JSP, Hibernate, JPA, EJB, JDBC, CDI, Junit, Mockito, Javascript, Angular all versions, NodeJS, HTML5, CSS, Bootstrap, JHipster, JBoss Seam, Swing, iReport {{'skills.and' | translate}} Drools.
              </li>
          </ul>
          <br>
          <div class="subheading mb-3">{{'skills.tools' | translate}}</div>
          <ul class="fa-ul mb-0">
              <li>
                  <i class="fa-li fa fa-check"></i>
                  Maven, Gradle, Gulp, Webpack, Jenkins, Hudson, Travis-CI, Sonar, PMD, Checkstyle {{'skills.and' | translate}} Findbugs.
              </li>
          </ul>
          <br>
          <div class="subheading mb-3">{{'skills.servers' | translate}}</div>
          <ul class="fa-ul mb-0">
              <li>
                  <i class="fa-li fa fa-check"></i>
                  Jboss, Tomcat, Websphere
              </li>
          </ul>
          <br>
          <div class="subheading mb-3">{{'skills.method' | translate}}</div>
          <ul class="fa-ul mb-0">
              <li>
                  <i class="fa-li fa fa-check"></i>
                  Scrum, Kanban, TDD
              </li>
          </ul> 
          <br>
          <div class="subheading mb-3">{{'skills.db' | translate}}</div>
          <ul class="fa-ul mb-0">
              <li>
                  <i class="fa-li fa fa-check"></i>
                  PostgreSQL, MySQL, Oracle, SQLServer, CouchDB {{'skills.and' | translate}} MongoDB
              </li>
          </ul> 
          <br>
          <div class="subheading mb-3">{{'skills.patterns' | translate}}</div>
          <ul class="fa-ul mb-0">
              <li>
                  <i class="fa-li fa fa-check"></i>
                  Design Patterns, RESTfull, API Gateway, SOA, Microservices, CQRS, BPM, UML.
              </li>
          </ul>                            
        <br>
        <div class="subheading mb-3">{{'skills.cloud' | translate}}</div>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                AWS, Heroku.
            </li>
        </ul>  
        <br>
        <div class="subheading mb-3">{{'skills.others' | translate}}</div>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                Android, Scala.
            </li>
        </ul>                                   
      </div>        
      </section>
  </div>
